/**
  * @author Benjamin Birkenhake 
  * @package semanticweblog
  * @copyright creative commons by-sa
  */

#edit-role1-basic-wrapper,
#edit-role1-ajax-wrapper{
 position:absolute;	
	
}

#edit-atid-basic-wrapper,
#edit-atid-ajax-wrapper {
	position:absolute;
	left:250px;
}
	
#edit-role2-basic-wrapper,
#edit-role2-ajax-wrapper {
	position:absolute;
	left:500px;
}

#block-semanticweblog-1 fieldset{
  min-height:200px;
  
}

#edit-submit,
#result input{
	clear:both;
	margin-top:7em;
	margin-bottom:2em;
}

.block-semanticweblog{
  width:800px;
  margin:10px;  
}

